@import "https://fonts.googleapis.com/css?family=Lato:100,300,300i,400&display=swap";


/* ----- Orange color #ec5c26 ----- */

/* ----- Basic setup ----- */

*{
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

html,
body{
    background: #fff;
    color: #555;
    font-family: 'Lato', 'Arial', sans-serif;
    font-weight: 300;
    font-size: 20px;
    text-rendering: optimizeLegibility;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

/* ----- Reusable components ----- */

.row{
    max-width: 1140px;
    margin: 0 auto;
}

section{
    padding: 80px 0;
}

.box{
    padding: 1%;
}

/* ----- Headings ----- */

.heading-primary{
    font-weight: 400;
    text-transform: uppercase; 
    color: #fff;
 
}

.heading-primary-main{
    display: block;
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 170%;
    word-spacing: 4px;
    letter-spacing: 1px;

    animation: moveInLeft 1s ease-out;
}

.heading-primary-sub{
    display: block;
    font-size: 90%;
    margin-bottom: 20px;

    animation: moveInRight 1s ease-out;    
}

@keyframes moveInLeft{
    0% {
        opacity: 0;

        /* negative = from left to right */
        transform: translateX(-100px);
    }

    80%{
        /* positive = right to left */
        transform: translateX(10px);
    }

    100%{
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes moveInRight{
    0% {
        opacity: 0;
        transform: translateX(100px);
    }

    80%{
        transform: translateX(-10px);
    }

    100%{
        opacity: 1;
        transform: translate(0);
    }
}


h2{
    font-size: 180%;
    font-weight: 300;
    word-spacing: 2px;
    text-align: center;
    margin-bottom: 30px;
    letter-spacing: 1px;
}

h2::after{
    display: block;
    height: 1px;
    background-color: #ec5c26;
    content: " ";
    width: 100px;
    margin: 0 auto;
    margin-top: 30px;
}

h3{
    font-size: 110%;
    font-weight: 300;
    text-transform: uppercase;
    margin-bottom: 15px;
}

/* ----- Paraghraphs ----- */

.heading-p{
    margin-top: 0;
    margin-bottom: 40px;
    color: #fff;
    font-size: 50%;
    font-weight: 300;
    text-transform: none;
    word-spacing: 4px;
    letter-spacing: 1px;

    animation-name: moveInLeft;
    animation-duration: 1s;
    animation-timing-function: ease-out;
}

.long-copy{
    line-height: 145%;
    width: 70%;
    margin-left: 15%;
    margin-bottom: 5%;
}

.box p{
    font-size: 90%;
    line-height: 145%;
    margin-right: 20px;
}

/* ----- Icons ----- */

.icon-big{
    font-size: 300%;
    display: block;
    color: #e67e22;
    margin-bottom: 10px;
}

 /* ----- Links ----- */


 /* ----- Buttons ----- */

 .btn:link,
.btn:visited,
input[type=submit]{
    display: inline-block;
    padding: 10px 30px;
    font-weight: 400;
    text-decoration: none;
    border-radius: 200px;
    -webkit-transition: background-color 0.5s, border 0.5s, color 0.5s;
    transition: background-color 0.5s, border 0.5s, color 0.5s;
    cursor: pointer;
}

.btn-full:link,
.btn-full:visited,
input[type=submit]{
    background-color: #D34612;
    border: 1px solid #D34612;
    color: #fff;
    margin-right: 15px;
}

.btn-ghost:link,
.btn-ghost:visited{
    border: 1px solid #D34612;
    color: #ec5c26;
}

.btn:hover,
.btn:active,
input[type=submit]:hover,
input[type=submit]:active{
    background-color: #ec5c26;
}

.btn-full:hover,
.btn-full:active{
    border: 1px solid #ec5c26;
}

.btn-ghost:hover,
.btn-ghost:active{
    border: 1px solid #ec5c26;
    color: #fff
}

.btn-animated{
    animation: moveInBottom .5s ease-out 0.25s;
    animation-fill-mode: backwards;
}

@keyframes moveInBottom{
    0% {
        opacity: 0;
        transform: translateY(30px);
    }

    100%{
        opacity: 1;
        transform: translate(0);
    }
}


 /* ----- Header ----- */

 header{
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.7)), to(rgba(0, 0, 0, 0.7))), url(img/web-developer-min.webp);
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(img/web-developer-min.webp);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    height: 100vh;
}

.hero-text-box{
    position: absolute;
    width: 1140px;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
}

.logo{
    height: 100px;
    width: auto;
    float: left;
    margin-top: 20px;
}



/* ----- Main nav ----- */

.main-nav{
    float: right;
    list-style: none;
    margin-top: 55px;
}

.main-nav li{
    display: inline-block;
    margin-left: 40px;
}

.main-nav li a:link,
.main-nav li a:visited{
    padding: 8px 0;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 90%;
    border-bottom: 2px solid transparent;
    -webkit-transition: border-bottom 0.5s;
    transition: border-bottom 0.5s;
}

.main-nav li a:hover,
.main-nav li a:active{
    border-bottom: 1px solid #ec5c26;
}

/* ----- Sticky nav ----- */

.sticky{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.98);
    box-shadow: 0 2px 2px #efefef;
    z-index: 9999;
}

.sticky .main-nav{margin-top: 18px;}

.sticky .main-nav li a:link,
.sticky .main-nav li a:visited{
    padding: 16px 0;
    color: #555;
}

/* ----- Mobile nav ----- */

.mobile-nav-icon{
    float: right;
    margin-top: 30px;
    cursor: pointer;
    display: none;
}

.mobile-nav-icon i{
    font-size: 200%;
    color: #fff;
}

/* ----- Service ----- */

.section-service{
    background-color: #f4f4f4;
}

.section-service .long-copy{
    margin-bottom: 30px;
}

/* ----- Webdesign ----- */

.section-webdesign-steps{
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.7)), to(rgba(0, 0, 0, 0.7))), url(img/web-design-min.webp);
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(img/web-design-min.webp);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    height: 100vh;
}

.section-webdesign-steps h2{
    font-size: 180%;
    font-weight: 300;
    color: #fff;
    word-spacing: 2px;
    text-align: center;
    margin-bottom: 30px;
    letter-spacing: 1px;
}

.webdesign-steps-box{
    margin-top: 30px;
    color: #fff;
}

.webdesign-steps-box:first-child{
    margin-left: 15px;
}

.webdesign-step{
    margin-bottom: 25px;
}

.webdesign-step div{
    color: #ec5c26;
    border: 2px solid #ec5c26;
    /*display: inline-block;*/
    border-radius: 50%;
    height: 55px;
    width: 55px;
    text-align: center;
    padding: 5px;
    float: left;
    font-size: 150%;
    margin-left: 25px;
    margin-right: 25px;
}

/* ---- Rankings ----- */

.section-rankings{
    background-color: #f4f4f4;
}

.rankings-box{
    margin-top: 30px;
}

.step{
    padding-top: 75px;
}

.mobile{
    width: 40%;
    float: right;
    margin-right: 100px;
}

.rankings-step i{
    color: #e67e22;
    border: 2px solid #e67e22;
    /*display: inline-block;*/
    border-radius: 50%;
    height: 37px;
    width: 37px;
    text-align: center;
    padding: 0 5px 5px 5px;
    float: left;
    font-size: 150%;
    margin-left: 25px;
    margin-right: 25px;
}


/* ----- Form ----- */

.contact-form{
    width: 60%;
    margin: 0 auto;
}


input[type=text],
input[type=email],
select,
textarea{
    width: 100%;
    padding: 7px;
    border-radius: 3px;
    border: 1px solid #ededed;
    color: #888;
}

textarea{
    height: 100px;
}

input[type=checkbox]{
    margin: 10px 5px 10px 0;
}

*:focus{
    outline: none;
}

.form-messages{
    width: 70%;
    margin: 0 auto;
    padding: 10px;
    border-radius: 3px;
    margin-bottom: 30px;
    color: #333
}

.succes{
    background-color: rgba(38, 191, 68, 0.8);
}

.error{background-color: rgba(209, 46, 46, 0.8);}

/* ----- Footer ----- */

footer{
    background: #333;
    padding: 50px;
    font-size: 80%;
}

.social-links{
    list-style: none;
    float: right;
}

.social-links li a:link,
.social-links li a:visited{
    text-decoration: none;
    border: 0;
    color: #888;
    -webkit-transition: color 0.2s;
    transition: color 0.2s;
    font-size: 160%;
}

.ion-social-linkedin{
    -webkit-transition: color 0.2s;
    transition: color 0.2s;
}

.ion-social-linkedin:hover{
    color: #2867B2;
}

footer p{
    color: #888;
    text-align: center;
    margin-top: 20px;
}
